body {
    font-family: Arial, sans-serif;
}


label,
input,
textarea,
select
 {
    display: block;
    margin-bottom: 10px;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


