.Room-top-image{
    background-image: url('../Assets/allpage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
  }
  .room-card{
  width: 300px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;

   
  }
  .Room-line{
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 5px;
    background: #C19B76;

}
.Room-second-p {
  color: #787878;
  font-size: 15px;
  line-height: 35px;
  padding: 10px;
  margin-top: 50px;
  width: 100%;
  
}
