
.login-social-icons{
    height: 46px;
    width: 46px;
    border: 1px solid;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color:rgb(14, 11, 11);
    border-radius: 10px;
    transition: 03s;
    
   
}
.login-social-icons:hover{
    background: #C09A76;
    
    
}
.box-area{
    width: 930px;
  }

